<footer>
	<div class="panel">
		<div class="footerContent">
			<div class="info">
				<p>© 2015 Duane Winkel</p>
				<p>Created by Winkel, Inc</p>
				<p><a href="mailto:duanewinkel@gmail.com">duanewinkel@gmail.com</a></p>
			</div>
			<div class="socialMedia">
				<a href="https://twitter.com/winkeljr?lang=en">
					<i class="fa fa-twitter-square"></i>
				</a>
				
				<a href="https://www.facebook.com/profile.php?id=503463370">
					<i class="fa fa-facebook-square"></i>
				</a>

				<a href="https://plus.google.com/u/0/113987806811958303899/posts">
					<i class="fa fa-google-plus-square"></i>
				</a>

				<a href="https://www.linkedin.com/in/duanewinkeljr">
					<i class="fa fa-linkedin-square"></i>
				</a>	
			</div>			
		</div>
			<p class="quote" style="font-size: 14px;">Today I will do what others won't, so tomorrow I can do what others can't.” - Jerry Rice</p>
	</div>		
</footer>