---
layout: default
---

<main>
  <section>
    <div class="pageTitle">
      <h1>the naked coder 
      <br>
      <small>telling it like it is</small>
      </h1>

    </div>
  </section>


  <section class="blogs" id="blog">

    <div class="panel">
      <div>
      {% for post in site.posts limit:6 %}
 
        <a href="{{ post.url | prepend: site.baseurl }}" class='blogLink'>
          <span class="date">{{ post.date | date_to_string }}</span>
          <div>
            <h2>{{ post.title }}</h2>
          </div>
          <div class="readMore">
            <span>READ ARTICLE
              <i class="fa fa-chevron-circle-right"></i>
            </span>
          </div>
        </a>
        {% endfor %}
      </div> 
    </div>   
  </section>

  <section id="blogs" class=" blogs extraArticles">
    <a href="#blogs" class="next">
      <i class="fa fa-chevron-circle-down"></i>
      READ MY ARTICLES
    </a>
    <div class='panel' >
      <div>
      {% for post in site.posts offset:6 %}
        <a href="{{ post.url | prepend: site.baseurl }}" class='extra blogLink'>
            <span class="date">{{ post.date | date_to_string }}</span>
            <div>
              <h2>{{ post.title }}</h2>
            </div>
            <div class="readMore">
                <i class="fa fa-chevron-circle-right"></i>
            </div>
          </a>
          {% endfor %}
      </div>
    </div>

  </section>

</main>

<!-- <div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->
