.contentSection {
	background-color: #f4f4f5;
	color: $darkBackground;
}

.blogContent {
	padding: 100px 200px;
	line-height: 32px;
	text-align: justify;

	p {
		margin: 20px 0;

	}

	li {
		margin: 10px 0;
	}
}
