footer {
	background-color: $navyBlue	;
	padding: 40px 0 80px 0;
	text-align: center;	
	clear:both;
	position: relative;
	overflow: hidden;
}


	.socialMedia {
		display: inline-block;
		margin-left: 80px;


		.fa{
			font-size: 38pt;
			padding-right: 20px;
			
		}
		a:hover {
			text-decoration: none; 
		}
	}


.info {
	display: inline-block;
	font-size: 12pt;
}

	.info p {
		display: inline;
		line-height: 50px;
		margin: 5px 0 0 80px;

	}
.quote {
	font-size: 12pt;
	position: absolute;
	bottom: 20px;
	left:0;
	right:0;
}
