/****************************************
variables
*****************************************/
.transition, a:active, a:hover, a.next:active, a.next:hover, .row:hover, .work .example img, .work .example a:hover h3, .work .example a:hover img, a.blogLink {
  transition: all 0.25s 0s ease;
  transition-property: all;
  transition-duration: .25s;
  transition-timing-function: ease;
  transition-delay: 0s; }

/****************************************
RESET
*****************************************/
html {
  box-sizing: border-box;
  color: #444;
  font: 16pt 'Open Sans', Arial;
  font-weight: 500; }

*, *::before, *::after {
  box-sizing: inherit;
  color: inherit;
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

/****************************************
Defaults
*****************************************/
body {
  background-color: #272f38;
  color: #fff; }

.panel > div {
  margin: auto;
  width: 1200px; }

.btn {
  height: 40px;
  color: #fff;
  line-height: 40px;
  border-radius: 40px;
  text-transform: uppercase;
  display: inline-block;
  font-size: 13pt;
  padding: 0 20px;
  background-color: #384452; }

a {
  text-decoration: none; }

a:active, a:hover {
  color: #EF4135;
  background-color: #384452; }

a.next {
  height: 100px;
  line-height: 110px;
  display: block;
  background-color: #fff;
  font-size: 12pt;
  height: 100px;
  color: #000; }
  a.next .fa {
    margin: 10px;
    font-size: 24pt; }
  a.next:active, a.next:hover {
    color: #EF4135;
    background-color: #384452; }

figure img {
  width: 330px; }

.readMore {
  display: inline;
  border-top: 2px solid #ddd;
  height: 80px;
  line-height: 80px;
  position: absolute;
  bottom: 20px;
  left: 30px;
  right: 30px;
  font-size: 12pt; }
  .readMore .fa {
    position: absolute;
    right: 10px;
    font-size: 24pt;
    line-height: 78px; }

.pageTitle {
  background-color: #fff;
  text-align: center; }
  .pageTitle h1 {
    font-size: 56pt;
    font-weight: 900;
    color: #384452;
    padding: 80px 0;
    margin: 0; }
    .pageTitle h1 small {
      font-size: 14pt;
      position: absolute;
      left: 0;
      right: 0;
      top: 260px; }

/****************************************
HEADER
*****************************************/
header {
  padding-top: 1rem;
  border-bottom: 2px solid #000;
  background-color: #384452;
  height: 75px; }
  header a {
    color: #fff;
    padding: 15px;
    font-weight: 900; }
  header a:nth-child(1) {
    margin-right: 65px; }

footer {
  background-color: #384452;
  padding: 40px 0 80px 0;
  text-align: center;
  clear: both;
  position: relative;
  overflow: hidden; }

.socialMedia {
  display: inline-block;
  margin-left: 80px; }
  .socialMedia .fa {
    font-size: 38pt;
    padding-right: 20px; }
  .socialMedia a:hover {
    text-decoration: none; }

.info {
  display: inline-block;
  font-size: 12pt; }

.info p {
  display: inline;
  line-height: 50px;
  margin: 5px 0 0 80px; }

.quote {
  font-size: 12pt;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0; }

.hero {
  background: radial-gradient(rgba(44, 81, 102, 0.8), rgba(44, 81, 102, 0.4)), url("../images/background.jpg");
  background-size: cover;
  height: 600px;
  width: 100%;
  padding: 1px;
  text-align: center;
  text-shadow: 1px 1px 4px #000000; }
  .hero h1 {
    padding: 100px 50px 50px;
    font-size: 60pt; }
  .hero p {
    font-size: 26pt; }

.about {
  background-color: #3692D4;
  color: #fff;
  line-height: 40px; }
  .about p {
    padding: 80px;
    font-weight: light;
    text-align: justify; }

.headline {
  text-align: center;
  color: #000;
  font-size: 24pt;
  padding-top: 40px; }

.experience {
  color: #aaa;
  background-color: #272f38; }
  .experience p {
    font-size: 0.8em; }
  .experience h1 {
    color: #fff; }

.career > h2 {
  color: #fff;
  margin-top: 20px; }

h6 {
  text-align: center;
  padding-top: 10px; }

.job {
  overflow: hidden;
  padding: 40px 0;
  border-bottom: 1px solid #515151; }

.position {
  float: left;
  width: 33%;
  padding-right: 40px;
  line-height: 36px;
  text-align: right; }
  .position h3 {
    color: #3692D4; }
  .position h4 {
    color: #EF4135;
    font-size: 0.8em; }

.description {
  line-height: 32px;
  width: 64%;
  margin-left: 36%;
  padding-left: 80px;
  border-left: 1px solid #515151; }
  .description h3 {
    color: #3692D4; }
  .description p {
    color: #aaa;
    font-weight: 400;
    font-size: 0.8em; }

ul {
  margin: 50px 50px 0 50px; }

.education {
  background-color: #fff; }
  .education .description, .education h3, .education .headline {
    color: #384452; }

.abilities, .container {
  background-color: #3692D4;
  overflow: hidden;
  padding-bottom: 50px; }
  .abilities li i, .container li i {
    font-size: 12pt; }

h2.headline {
  color: #fff; }

.leftColumn, .rightColumn {
  float: left;
  line-height: 40px; }

.leftColumn {
  padding-left: 125px; }

.skill {
  display: block;
  width: 180px;
  display: block;
  float: left;
  text-align: left; }

.score {
  display: block;
  width: 190px;
  float: left;
  text-align: right; }

.row:hover {
  background-color: grey; }
  .row:hover .score i {
    margin-right: 10px;
    font-size: 18pt; }

.work {
  text-align: center; }
  .work .example {
    display: block;
    float: left;
    width: 25%;
    height: 600px;
    overflow: hidden;
    padding: 60px 0;
    position: relative;
    background-image: -webkit-radial-gradient(50% 100%, #66707A 0%, #384452 100%);
    border-bottom: 1px solid #384452; }
    .work .example h3 {
      padding: 10px; }
    .work .example img {
      transform: translateY(100px); }
    .work .example a:hover h3 {
      transform: translateY(100px); }
    .work .example a:hover img {
      transform: translateY(-75px); }
  .work .btn {
    margin: 30px; }
  .work .readMore {
    background-color: #272f38;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
    padding: 0 50px; }
    .work .readMore .fa {
      right: 50px; }
  .work figure {
    margin: 10px; }

.blogs {
  background-color: #EF4135;
  font-family: "museo-sans",sans-serif;
  overflow: hidden;
  text-align: center; }
  .blogs .btn {
    margin: 40px; }
  .blogs a:hover {
    background-color: #272f38;
    color: #EF4135; }
    .blogs a:hover h2 {
      color: #fff; }
    .blogs a:hover .readMore {
      transform: translateY(-50px);
      border-top: 1px solid #EF4135; }

a.blogLink {
  height: 450px;
  display: block;
  background-color: #fff;
  color: #000;
  float: left;
  padding: 30px;
  margin: 20px 15px;
  width: 30%;
  text-align: left;
  position: relative; }
  a.blogLink span.date {
    color: #687788;
    font-family: "museo-sans",sans-serif;
    text-transform: uppercase;
    line-height: 16px;
    font-size: 14pt;
    border-bottom: 2px solid #ddd;
    padding: 0 0 10px 0; }
  a.blogLink h2 {
    float: left;
    clear: both;
    width: 90%;
    color: #384452;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    padding: 60px 0; }

/****************************************
old Articles
*****************************************/
.extraArticles {
  background-color: #F4F4F5;
  overflow: hidden; }

.extra.blogLink {
  background-color: #F4F4F5;
  width: 100%;
  height: 175px;
  margin: 0;
  border-bottom: 2px solid #E7E7E9; }
  .extra.blogLink h2 {
    padding: 35px 0; }
  .extra.blogLink .readMore {
    border-top: none;
    bottom: 0;
    position: static; }

.blogContentSection {
  background-color: #f4f4f5;
  color: #272f38; }

.blogContent {
  padding: 100px 200px;
  line-height: 32px;
  text-align: justify; }
  .blogContent p {
    margin: 20px 0; }
  .blogContent li {
    margin: 10px 0; }

.blogContent img {
  margin-left: -85px;
  width: 960px; }
